

/* Fondo para el navbar */
.navbar-fondo {
  background-image: url('../../public/background.png'); /* cambia el path según tu imagen */
  background-size: cover;
  background-position: center;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: relative;
}
.container {
  padding-top: 100px;
}
/* Navbar links */



